h1, h2{
    text-align: center;
}
body {
    background-color: #7bb4c9;
    background-size: contain;
    font-family: "Tahoma"; 
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1e6e1;
    background-size: contain;
}
p{
    font-size: 90%;
    text-indent: 25px;
}
